<!DOCTYPE html>
<html lang="en">
<head>
 <title>
    <div>Register Here</div>
 </title>
</head>
<body>
   <form method="post" action="/registers" >
   <h1> <div style="background-color: yellow;">Register Here</div></h1>
   
      <div style="background-color: yellowgreen;">
        <td>
        <tr><label >First Name : </label>
        <input id="firstname" name ='firstname' placeholder="Enter First name" type="text"><br></tr>
       <tr> <label >Last Name : </label>
        <input id="lastname" name ='lastname' placeholder="Enter last name" type="text"><br></tr>
         <tr><label >Email id :</label>
         <input id ="email" name ='email' placeholder ="enter your Emailid "type="text"><br></tr>
           <tr><label >Phone no. :</label>
           <input id ="phone " name ='phone' placeholder ="enter your phone number " ><br></tr>
        <tr> <label >Password : </label>
             <input type="password" name ='password' placeholder="Enter your password" id="pass">    </td>
    </div>
    <div style="background-color: orange;text-align: right;">
    <button  style="color:white;background-color:green" onclick="abc()" >SUBMIT
    </button>

    <button 
    style="color:white;background-color:red" >CANCLE</button>
 </div>
 
    </form>
    <section class="get">
   <h3>Get Data</h3>
    <a href="/get-data">LOAD DATA</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>firstname  :     {{    this.firstname }}</div>
                <div>lastname  : {{ this.lastname }}</div>
                <div>password  : {{ this.password}}</div>
                <div>phone  : {{this.phone}}</div>
                <div>email  :  {{this.email}}</div>
                <div>ID   : {{ this._id }}</div><br>
            </article>
        {{/each}}
    </div> 
    </section> 
    <p>Login Here <a href="/login">login </a></p>
    <p>update data by id <a href="/update">Update</a></p>
    <p>delete id <a href="/delete">Delete</a></p>
</body>
<script type="text/javascript"src="http://localhost:3000/register" ></script>
</html>